*.pth filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
results/train/rl_energy_cache.sqlite filter=lfs diff=lfs merge=lfs -text
results/data/hamiltonians_40plus.json/** filter=lfs diff=lfs merge=lfs -text
results/data/hamiltonians_scaling.json/** filter=lfs diff=lfs merge=lfs -text
results/scaling_benchmark/**/*.npy filter=lfs diff=lfs merge=lfs -text
results/scaling_benchmark/**/*.pt filter=lfs diff=lfs merge=lfs -text
